.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1240px;

  .cards {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;

    .product {
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }
}